Source: mb-discid
Section: libs
Priority: optional
Maintainer: Philipp Wolfer <phw@rubyforge.org>
Homepage: http://rbrainz.rubyforge.org/
Build-Depends: debhelper (>= 5), ruby-dev, libdiscid0-dev (>= 0.3.0), rdoc, rake (>= 0.7), rubygems
Standards-Version: 3.8.3

Package: mb-discid
Architecture: any
Depends: ruby (>= 1.8), libdiscid0 (>= 0.3.0)
Description: Ruby bindings for libdiscid
 MB-DiscID provides Ruby bindings for the MusicBrainz DiscID library
 libdiscid. It allows you to calculate MusicBrainz DiscIDs from audio CDs,
 which you can use to find the release entry for your CD in the MusicBrainz
 database.


